<h2>Reviews:</h2>
<% @restaurant.reviews.each do |review| %>
<article class='review'>
	<p>
		<strong>Rating:</strong>
		<%= star_rating(review.rating) %>
	</p>

	<p>
		<strong>Comment:</strong>
		<%= review.text %>
	</p>
	<% end %>
</article>
