<h2>Reviews:</h2>
<% @restaurant.reviews.each do |review| %>
<article class='review'>
	<p>
		<strong>Rating:</strong>
		<%= review.rating %>
	</p>

	<p>
		<strong>Comment:</strong>
		<%= review.text %>
	</p>
	<%= link_to 'Edit', edit_review_path %>
	<% end %>
</article>
