<h1>Editing <%= @restaurant.name %></h1>

	<section class='error explanation'>
	<% if @restaurant.errors.any? %>
		<h2><%= pluralize(@restaurant.errors.count, "error") %>
			prohibited @restaurant.name from being updated.</h2>
		<ul>
			<% @rstaurant.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</section>
	<% end %>

<%= render 'form' %>